In [17]:
import pandas as pd

In [369]:
df.loc[(df['project_name']==project_name)].head()

,project_name,project_version,cluster_division,affinity,linkage,MoJo_results
18975,immutables-immutables,immutables-2.7.5,5,euclidean,complete,387
18976,immutables-immutables,immutables-2.7.5,5,euclidean,average,472
18977,immutables-immutables,immutables-2.7.5,5,euclidean,single,410
18978,immutables-immutables,immutables-2.7.5,5,l1,complete,377
18979,immutables-immutables,immutables-2.7.5,5,l1,average,234

In [276]:
df = pd.read_csv('JSS_paper_baseline_agglo.csv')

In [277]:
df.head()

,project_name,project_version,cluster_division,affinity,linkage,MoJo_results
0,bkromhout-realm-java,v0.89.0,5,euclidean,complete,91
1,bkromhout-realm-java,v0.89.0,5,euclidean,average,147
2,bkromhout-realm-java,v0.89.0,5,euclidean,single,87
3,bkromhout-realm-java,v0.89.0,5,l1,complete,76
4,bkromhout-realm-java,v0.89.0,5,l1,average,66

In [391]:
project_name = 'web3j-web3j'
version = 'v4.6.1'

affinity = 'cosine'
linkage = 'complete'
cluster_division = 10

In [392]:
test = df.loc[(df['project_name']==project_name) \
       & (df['cluster_division']==cluster_division) \
       & (df['affinity']==affinity) \
       & (df['linkage']==linkage) \
       & (df['project_version']==version)]

test.head(30)

,project_name,project_version,cluster_division,affinity,linkage,MoJo_results
56322,web3j-web3j,v4.6.1,10,cosine,complete,378

In [393]:
affinity = 'manhattan'
linkage = 'single'
cluster_division = 10

test = df.loc[(df['project_name']==project_name) \
       & (df['cluster_division']==cluster_division) \
       & (df['affinity']==affinity) \
       & (df['linkage']==linkage) \
       & (df['project_version']==version)]

test.head(30)

,project_name,project_version,cluster_division,affinity,linkage,MoJo_results
56321,web3j-web3j,v4.6.1,10,manhattan,single,90

In [325]:
#project_name = 'coobird-thumbnailator'
#version = '0.4.9'
affinity = 'manhattan'
linkage = 'average'
cluster_division = 25

#affinity = 'cosine'
#linkage = 'average'
#cluster_division = 15

In [319]:
test = df.loc[(df['project_name']==project_name) \
       & (df['cluster_division']==cluster_division) \
       & (df['affinity']==affinity) \
       & (df['linkage']==linkage) \
       & (df['project_version']==version)]

test.head(30)

,project_name,project_version,cluster_division,affinity,linkage,MoJo_results
7720,facebook-facebook-android-sdk,sdk-version-5.9.0,25,manhattan,average,50